.servicesStyle :global {
  .imageWrapper {
    padding: 10px; /* Adjust the padding value as needed */
  }
  .mains{
    font-size:50px;
    font-weight:bold;
    text-align:right;
    // margin: auto;
    // width: 50%;
    // padding: 10px;
    color:#040831
  } 
  .mainsEng{
    font-size:50px;
    font-weight:bold;
    text-align:left;
    color:#040831
  }
  .main{
    font-size:80px;
    font-weight:bold;
    text-align:right;
 
    // margin: auto;
    // width: 50%;
    // padding: 10px;

  }
  .mainsEn{
    font-size:90px;
    font-weight:bold;
    text-align:left;
  }

  .mainD{
    font-size:20px;
    padding-top:10px;

  }

 .mainDEn{
    font-size:20px;
    padding-top:10px;
  }
    .offer-area {
        position: relative;
        z-index: 1;
        overflow: hidden;
      }
      .offer-area.gray-bg {
        background-color: #f0f0f0;
      }
      .offer-area .offer-shape img {
        position: absolute;
        z-index: -1;
      }
      .offer-area .offer-shape img:nth-child(1) {
        bottom: 0;
        left: 0;
      }
      .offer-area .offer-shape img:nth-child(2) {
        top: 0;
        right: 0;
      }
      .offer-area .offer-shape img:nth-child(3) {
        top: 100px;
        left: 200px;
        animation: animationFramesOne 25s infinite linear;
      }
      .offer-area .offer-shape img:nth-child(4) {
        bottom: 80px;
        right: 200px;
        animation: animationFramesOne 20s infinite linear;
      }
      .offer-area .offer-shape img:nth-child(5) {
        top: 100px;
        right: 200px;
        animation: animationFramesOne 15s infinite linear;
      }
      .offer-area .offer-shape img:nth-child(6) {
        bottom: 80px;
        left: 500px;
        animation: animationFramesOne 10s infinite linear;
      }
      .offer-area .offer-shape img:nth-child(7) {
        top: 100px;
        left: 700px;
        animation: animationFramesOne 10s infinite linear;
      }
      // .main{
      //   font-size:90px;
      //   font-weight:bold;
      //   text-align:center;
      //   // margin: auto;
      //   // width: 50%;
      //   // padding: 10px;
  
      // } 
      .single-offer {
        position: relative;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 110px;
        // background-color: #ffffff;
        border-radius: 4px;
        border: 1px dotted #1dd3f8;
        transition: all 0.6s ease;
        margin-bottom: 30px;
      }
      .single-offer i {
        position: absolute;
        left: 30px;
        top: 28px;
        background-color: #eeeefe;
        display: flex;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 4px;
        font-size: 40px;
        color: #9898f0;
      }
      .single-offer h3 {
        margin-bottom: 10px;
      }
      .single-offer h3 a {
        color: #212121;
      }
      .single-offer h3 a:hover {
        color: #1dd3f8;
      }
      .single-offer:hover {
        transform: translateY(-5px);
      }
      
      .col-lg-4:nth-child(2) .single-offer {
        border-color: #76b8f5;
      }
      .col-lg-4:nth-child(2) .single-offer i {
        background-color: #e8f3fd;
        color: #76b8f5;
      }
      .col-lg-4:nth-child(3) .single-offer {
        border-color: #1ccdca;
      }
      .col-lg-4:nth-child(3) .single-offer i {
        background-color: #e6fdfc;
        color: #1ccdca;
      }
      .col-lg-4:nth-child(4) .single-offer {
        border-color: #f9ca54;
      }
      .col-lg-4:nth-child(4) .single-offer i {
        background-color: #fcf3dc;
        color: #f9ca54;
      }
      .col-lg-4:nth-child(5) .single-offer {
        border-color: #ff896b;
      }
      .col-lg-4:nth-child(5) .single-offer i {
        background-color: #fde2db;
        color: #ff896b;
      }
      .col-lg-4:nth-child(6) .single-offer {
        border-color: #50d890;
      }
      .col-lg-4:nth-child(6) .single-offer i {
        background-color: #e7fdf1;
        color: #50d890;
      }
      
      .service-card {
        background-color: #ffffff;
        text-align: center;
        padding: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        transition: all 0.6s ease;
      }
      .service-card i {
        background-color: #e8f3fd;
        color: #76b8f5;
        display: inline-block;
        height: 75px;
        width: 75px;
        text-align: center;
        line-height: 75px;
        font-size: 40px;
        border-radius: 50%;
        margin-bottom: 20px;
      }
      .service-card h3 a {
        color: #212121;
      }
      .service-card h3 a:hover {
        color: #1dd3f8;
      }
      .service-card p {
        margin: 0;
      }
      .service-card:hover {
        transform: translateY(-6px);
      } 
      
      .single-offer.custom-card .flaticon {
        background-color: transparent !important;
        color: #fff !important;
        margin: 0;
        padding: 10px;
        position: relative;
      }

      .offer-area-two .single-offer:hover {
        background-color: #1dd3f8;
      }
      .offer-area-two .single-offer:hover h3 {
        color: #ffffff;
      }
      .offer-area-two .single-offer:hover p {
        color: #ffffff;
      }
      
      .single-offer {
        text-align: center;
        padding: 0;
        border: 1px solid #e4e7ed;
        margin-bottom: 30px;
        height: 100%; 
      }
      .single-offer i {
        font-size: 40px;
        color: #007bff;
        margin-bottom: 20px;
      }
      .single-offer h3 {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 15px;
        margin: 20px;
      }
      .single-offer p {
        font-size: 16px;
        color: #555;
        padding: 10px;
      } 
      
      .dark .custom-card {
        background: var(--customBackgroundColor);
        color: #fff;
        border: 1px solid #fff;
      }
      .single-offer.custom-card .flaticon {
        background-color: transparent !important;
        color: #fff !important;
      }

      .services-item:hover {
        background: #040831;
        color: white;
        .text-center{
            color:white;
        }
      }

      @media (max-width: 768px) {
        .mains{
          font-size:30px;
          font-weight:bold;
          text-align:right;
          // margin: auto;
          // width: 50%;
          // padding: 10px;
      
        } 
        .mainsEng{
          font-size:30px;
          font-weight:bold;
          text-align:left;
        }
        .main{
          font-size:80px;
          font-weight:bold;
          text-align:right;
      
          // margin: auto;
          // width: 50%;
          // padding: 10px;
      
        }
        .mainsEn{
          font-size:90px;
          font-weight:bold;
          text-align:left;
        }
      
        .mainD{
          font-size:20px;
          padding-top:10px;
          text-align:right;
        }
      
       .mainDEn{
          font-size:20px;
          padding-top:10px;
          text-align:left;
        }
        .single-offer{
          align-items:center;
          text-align:right;
          padding-top:10px;
        }
        .custom-card{
          align-items:center;
          text-align:right;
        }
        .services-item{
          align-items:center;
          text-align:right;
        }

      }

}
