/* Loading.module.scss */

.containerStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: #040730;
}

.imageStyle {
  width: 15%;
  height: 25%;
}

@media (max-width: 963px) {
  .imageStyle {
    height: 20%;
    width:40%;
  }
}
