.AboutUsStyle :global{
  .arabic-list{
    // display: flex;
    align-items: right;
    justify-content: space-between;
    text-align: right;
    // flex-direction:row-reverse;
    // position: relative;
    // color:green;
    width:100%;
  }
    .about-img {
        // text-align: center;
  padding-top:0;
  padding-bottom:30px;
  width:400px;
 height:750px;
      }
      .pt-100 {
        padding-top: 100px;
      }
      .about-list {
        display: flex;
        align-items: center;
        margin-bottom: 10px; /* Adjust the spacing as needed */
        // padding:0;
    }
      
      .about-list i {
        margin-right: 10px;
        padding: 10px;
      }

      .pb-70 {
        padding-bottom: 50px;
      }
      .title{
        text-align:right;
        
      }
      .main{
        font-size:50px;
        font-weight:bold;
        color:#040831
      }
      .description{
        font-size:20px;
    }
    .titlemain{
      font-size:80px;
        font-weight:bold;
        text-align:right;
    }
    .center {
        // border: 5px solid;
        margin: auto;
        width: 50%;
        padding: 10px;
      left:50%;
        // text-align:right
      }
      .contactBtn{
        margin: auto;
        width: 50%;
        padding: 10px;
      left:50%;  
      color:white;
    }
      @media (max-width: 768px) {
        .row {
          flex-direction: column;
        }
    
        .col-lg-6 {
          order: 2;
        }
        .title{
            text-align:center;
        }
        .description{
            font-size:16px;
            // padding-top:15px;
        }
        .about-list {
          flex-wrap: nowrap; // Prevent items from wrapping to the next line
          display:none;
        }
        
    .btn{
      padding-top:0px;
      margin:0;
    }

        .about-img{
      text-align: center;   margin-right: auto;
      margin-left: auto;
      width: 70%;
      // padding: 10px;
      // padding-bottom:10px;
      // margin-right: auto;
     
      // padding: 10px;
      width:300px;
      height:400px;
          }

          .center {
            // border: 5px solid;
            margin-right: auto;
            width: 70%;
            padding: 10px;
            // align-items:right;
            // text-align:right
          }
          .contactBtn{
            text-align: center;   
            margin-right: auto;
            margin-left: auto;
            width: 70%;
            padding: 10px;
            padding-top:0;
                      // align-items:right; 
        }
        .titlemain{
          font-size:30px;
            font-weight:bold;
            text-align:center;

        }
        .title{
          padding-top:0;
        }
        .description{
          padding-top:0;
          
        }

          
      } 

}