/* // Assuming your component has a unique className like "teamCard"* */
.teamStyle :global {
  .blogTitle{
    padding-bottom:10px;
   
  }
  .mains{
    font-size:40px;
    font-weight:bold;
    text-align:right;
    // margin: auto;
    // width: 50%;
    // padding: 10px;
    color:#040831
  } 
  .mainsEng{
    font-size:40px;
    font-weight:bold;
    text-align:left;
    color:#040831
  }
  .main{
    font-size:80px;
    font-weight:bold;
    text-align:right;
 
    // margin: auto;
    // width: 50%;
    // padding: 10px;

  }
  .mainsEn{
    font-size:90px;
    font-weight:bold;
    text-align:left;
  }

  .mainD{
    font-size:20px;
    padding-top:10px;

  }

 .mainDEn{
    font-size:20px;
    padding-top:10px;
  }
  .team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; /* Adjust the gap as needed */
  }
  .team-item {
    text-align: center;
    padding: 20px;
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, #eb7494, #ae77b2, #97b5da, #0099ca) 1;
    border-image-slice: 1;
    border-radius: 20px;
  }
  
  .team-item:hover {
    background: #040831;
    color: white;
  }
  
  .team-item h3 {
    color: #454545;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
  }
  
  .team-info p {
    color: #acacac;
    font-style: italic;
  }
  
  .team-info::after {
    background: #008aff;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 50px;
    height: 3px;
  }
  
  .team-img {
    max-width: 140px;
    padding: 6px;
    background-color: #dedede;
    border-radius: 50%;
  }
  
  ul.team-icon li {
    display: inline-block;
    margin: 0 3px;
    transition: all 0.25s ease-in-out;
  }
  
  ul.team-icon li a {
    display: inline-block;
    padding: 8px;
    width: 34px;
    height: 34px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50%;
    color: #fff;
  }
  
  ul.team-icon li a.twitter {
    background-color: #4099ff;
  }
  
  ul.team-icon li a.pinterest {
    background-color: #14171A;
  }
  
  ul.team-icon li a.facebook {
    background-color: #3b5998;
  }
  
  ul.team-icon li a.dribble {
    background-color: #0A66C2;
  }

  .section-subtitle{
    padding:20px;
    font-size:20px;
  }
  
  .team-icon li a:hover {
    color: #dedede;
    transition: all 0.25s ease-in-out;
  }
  @media (min-width: 1200px) {
    .team-grid {
      grid-template-columns: repeat(4, 1fr); /* Display four cards per row on large screens (>= 1200px) */
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .team-grid {
      grid-template-columns: repeat(3, 1fr); /* Display three cards per row on tablet-sized screens (768px to 1199px) */
    }
  }

  @media (max-width: 767px) {
    .team-grid {
      grid-template-columns: repeat(2, 2fr); /* Display two cards per row on mobile screens (< 768px) */
    }
    .blogTitle{
      padding-bottom:10px;
      padding-top:10px;
      font-size:15px;
     
    }
    .mains{
      font-size:30px;
      font-weight:bold;
      text-align:right;
      // margin: auto;
      // width: 50%;
      // padding: 10px;
  
    } 
    .mainsEng{
      font-size:25px;
      font-weight:bold;
      text-align:left;
      padding-bottom:10px;
    }
    .main{
      font-size:70px;
      font-weight:bold;
      text-align:right;
  
      // margin: auto;
      // width: 50%;
      // padding: 10px;
  
    }
    .mainsEn{
      font-size:80px;
      font-weight:bold;
      text-align:left;
    }
  
    .mainD{
      font-size:20px;
      padding-top:10px;
      text-align:right;
    }
  
   .mainDEn{
      font-size:20px;
      padding-top:10px;
      text-align:left;
    }
  }
}

