.testimonialStyle :global {
  overflow: hidden;
  // background-color: lighten($color: #040831, $amount: 34);
  // Slide style
  .blogTitle{
    padding-bottom:10px;
   
  }
  .mains{
    font-size:40px;
    font-weight:bold;
    text-align:right;
    // margin: auto;
    // width: 50%;
    // padding: 10px;
    color:#040831
  } 
  .mainsEng{
    font-size:40px;
    font-weight:bold;
    text-align:left;
    color:#040831
  }
  .main{
    font-size:80px;
    font-weight:bold;
    text-align:right;
 
    // margin: auto;
    // width: 50%;
    // padding: 10px;

  }
  .mainsEn{
    font-size:70px;
    font-weight:bold;
    text-align:left;
  }

  .mainD{
    font-size:20px;
    padding-top:10px;

  }

 .mainDEn{
    font-size:20px;
    padding-top:10px;
  }
  .testimonialCard {
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;
    p {
      line-height: 1.3rem;
      letter-spacing: 0.4px;
      margin: 0;
    }
    > div {
      margin-bottom: 1rem;
      h5 {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: 0.4px;
        word-spacing: 1px;
      }
      span {
        font-size: 0.9rem;
        color: #515151;
        font-family: "Mulish", sans-serif;
      }
      .clientImage {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }

  // Active slide style
  .activeStyle {
    background-color: #040831 !important;
    opacity: 1;
    transition: all 0.2s;
    p,
    span,
    h5 {
      color: white !important;
    }
  }
  @media (max-width: 767px) {

    .blogTitle{
      padding-bottom:10px;
      padding-top:10px;
      font-size:15px;
     
    }
    .mains{
      font-size:30px;
      font-weight:bold;
      text-align:right;
      // margin: auto;
      // width: 50%;
      // padding: 10px;
  
    } 
    .mainsEng{
      font-size:25px;
      font-weight:bold;
      text-align:left;
      padding-bottom:10px;
    }
    .main{
      font-size:60px;
      font-weight:bold;
      text-align:right;
  
      // margin: auto;
      // width: 50%;
      // padding: 10px;
  
    }
    .mainsEn{
      font-size:32px;
      font-weight:bold;
      text-align:left;
    }
  
    .mainD{
      font-size:18px;
      padding-top:10px;
      text-align:right;
    }
  
   .mainDEn{
      font-size:20px;
      padding-top:10px;
      text-align:left;
    }
  }

}
