.quoteStyle :global{

/* Default styles for large screens */
.boxSize {
	margin: 40px auto;
	padding: 20px;
	border-radius: 10px;
 /* Set to 70% of the screen width */
	// max-width: 800px; /* Limit the maximum width to 800px */
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 4px 10px 0px grey;
	// background-color: rgba(255, 255, 255, 0.9);
  }
  
  .QuoteText {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;
	// color: #333;
    color:#040831
  }

  .dark .QuoteText{
    color:#040831;
  }
  
  .author {
	text-align: right;
	font-size: 20px;
	font-style: italic;
	font-family: cursive;
	color: #666;
  }
  
  .QuoteBtn {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
  }
  
  .GenerateQuote_next,
  .copyButton {
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 12px 20px;
	font-weight: bold;
	color: white;
	box-shadow: 0px 0px 10px 0px grey;
  }
  
  .GenerateQuote_next {
	background-color: #2c5e1a;
	transition: background-color 0.3s;
  }
  
  .GenerateQuote_next:hover {
	background-color: #1d3e12;
  }
  
  .copyButton {
	background-color: #007acc;
	transition: background-color 0.3s;
  }
  
  .copyButton:hover {
	background-color: #005aaf;
  }
  
  .copyButton:disabled {
	background-color: #ccc;
	cursor: not-allowed;
  }
  
  /* Media query for screens smaller than 600px */
  @media screen and (max-width: 600px) {
	.boxSize {
	  width: 80%; /* Set to full width for small screens */
	  margin: 20px auto; /* Adjust margin for smaller spacing */
	}
  
	.QuoteText {
	  font-size: 24px; /* Adjust font size for smaller screens */
	}
  
	.author {
	  font-size: 18px; /* Adjust font size for smaller screens */
	}
  }
  

}