@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700;800&display=swap");


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.sectionStyle {
  padding-top: 30px;
  padding-bottom: 30px;
}
.sectionTitle {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: #11142d;
  padding-bottom:20px;

}

.navbarStickyStyle {
  position: fixed !important;
  width: 100%;
  top: 0;
  padding: 0.8rem 0 !important;
  background: #040831eb;
  z-index: 30;
  animation-name: topToShow;
  animation-duration: 0.7s;
}

@keyframes topToShow {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

@media screen and (max-width: 767px) {
  .sectionTitle {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .navbarStickyStyle {
    padding: 0.2rem 0 !important;
  }
}

@media screen and (min-width: 576px) {
  .sectionStyle {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .sectionStyle {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .sectionStyle {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1600px) {
  .sectionStyle {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}



.transparent-image {
  opacity: 0.5; 
}


.small-navbar {

  height: 60px;
  padding: 5px 0;

}






.select-dropdown {
  width: 100% !important;
}


@keyframes rotateImage {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.image-with-border {
  border: 5px solid transparent;
  border-image: linear-gradient(45deg, #eb7494, #ae77b2, #97b5da, #0099ca) 1;
  border-image-slice: 1;
  padding-bottom:10px;
}
@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



@font-face {
  font-family: 'CustomFontEnglish';
  src: url('/path-to-custom-font-english.woff2') format('woff2');
}


@font-face {
  font-family: 'CustomFontArabic';
  src: url('/font/NotoSansArabic-VariableFont_wdth,wght.ttf') format('woff2');
}


:lang(en) {
  font-family: 'CustomFontEnglish', sans-serif;
}

:lang(ar) {
  font-family: 'CustomFontArabic', sans-serif;
}

.nav-link.active {
  /* background-color: /* Your desired background color for the active link */ 
  /* color: /* Your desired text color for the active link */
  /* border-radius:  */
  padding: 5px 15px; 
}

/* CSS for Header component */
.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

/* CSS for the button */
.button {
  display: inline-block;
  z-index: 50;
}

.button  {
  width: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button .relative {
  position: relative;
}

.button .absolute {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}

/* CSS for the navigation menu */
.nav-menu {
  width: max-content;
  padding: 0.75rem 1.5rem;
  border: 1px solid #333;
  border-radius: 9999px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  top: 1.5rem;
  right: 50%;
  transform: translateX(50%);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  z-index: 50;
  transition: all 0.3s ease;
}

.nav-menu.hidden {
  top: -5rem;
}

.nav-menu a {
  margin-right: 0.5rem;
}

.nav-menu button {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.25rem;
  text-align: center;
  transition: all 0.3s ease;
}

/* CSS for the moon and sun icons */
.fill-dark {
  fill: #333;
}

/* CSS for the social media icons */
.social-icons {
  display: none;
  align-items: center;
}

.social-icons a {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

/* CSS for hover effects on social media icons */
.social-icons a:hover {
  transform: scale(1.25);
  transition: all 0.2s ease;
}

.servicesHead{
  font-family: "monospace";

}

.navbarStickyStyle {
  position: fixed !important;
  width: 100%;
  top: 0;
  padding: 0.8rem 0 !important;
  background: #040831eb;
  z-index: 30;
  animation-name: topToShow;
  animation-duration: 0.7s;
}

@keyframes topToShow {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

.view-all{
  font-size:14px;
}

.default-btn {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  padding: 18px 35px;
  line-height: 1;
  transition: all 0.6s ease;
  z-index: 1;
  text-transform: capitalize;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: #040831;
  display: inline-block;
}


